@import (reference) "src/App";

@border-props-alle-situasjoner: 1px solid @navGra40;
@border-radius-alle-situasjoner: 4px;

.seksjon-alle-situasjoner {
  @media (max-width: @mobil-max-width) {
    padding: @padding-mobil;
  }

  .rollevalg {
    width: 100%;

    @media (max-width: @desktop-max-width) {
      margin-bottom: 0.75rem;
    }
  }

  &__fane {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: @border-props-alle-situasjoner;
    border-radius: @border-radius-alle-situasjoner;
    border-top: none;
    padding: 1.5rem;
    box-sizing: border-box;

    @media (max-width: @desktop-max-width) {
      border: none;
      padding: 0;
    }
  }

  &__fane-tittel {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__lenkeseksjoner {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    box-sizing: border-box;

    .lenke-seksjon {
      max-width: 35rem;

      .lenke:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }

    .lenke-seksjon:not(:only-child) {
      @media (max-width: @mobil-max-width) {
        .col-setup(1, 0);
        margin-bottom: 0.75rem;
      }

      @media (min-width: @mobil-max-width) {
        .col-setup(3, 1rem);
        margin-bottom: 1.5rem;
      }
    }
  }
}
