@import (reference) "src/App";

.seksjon-praktisk-info {
  @media (max-width: @mobil-max-width) {
    padding: @padding-mobil;
  }

  &__header {
    text-align: center;
  }

  &__innhold {
    width: 100%;
  }

  &__section {
    margin-top: 1rem;
  }

  &__panel-innhold {
    max-width: 30em;
    h1, h2, h3, h4, h5, h6 > :not(:first-child) {
        margin-top: 1.25rem;
      }
  }
}