
.lenke-seksjon {
  margin: 1rem;

  @media (max-width: @mobil-max-width) {
    margin: 1rem 0.5rem;
  }

  &__tittel {
    margin-bottom: 0.5rem;
  }

  &__lenker {
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;
  }
}
