@import (reference) "src/App";

.seksjon-din-situasjon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: @padding-y @padding-x;
  margin-top: @seksjon-spacing;

  &__header {
    text-align: center;
  }

  &__innhold {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;

    .lenkepanel {
      .col-setup(3, 1rem);
      min-height: 60px;
    }
  }
}