@import (reference) "~nav-frontend-core/less/_variabler";

@desktop-max-width: 1024px;
@mobil-max-width: 768px;

@padding-y: 2rem;
@padding-x: @padding-y * 1.62;
@padding-mobil: 1rem;
@seksjon-spacing: 2rem;

body {
  background-color: @navLysGra;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pagecontent {
  width: 100%;
  max-width: @desktop-max-width;
  padding: 1rem 1rem 5rem 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.seksjon-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: @padding-y @padding-x;
  box-sizing: border-box;
  visibility: hidden;
  margin-top: @seksjon-spacing;

  &--loaded {
    visibility: visible;
  }

  @media (max-width: @mobil-max-width) {
    padding: @padding-mobil;
  }
}

.col-setup(@cols, @margins) {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(percentage(1 / (@cols + 1)) + 1px);
  max-width: calc(percentage(1 / @cols) - (@margins - @margins / @cols));

  &:not(:nth-child(@{cols}n)) {
    margin-right: @margins;
  }
}

.big-spinner {
  text-align: center;
  margin: 3rem;
  transform: scale(3);
}

.bottom-border-lenke {
  text-decoration: none;
  border-bottom: @navBla solid 1px;
  padding-bottom: 0;
  &:hover {
    border-bottom: none;
  }
}

.block:not(:last-child){
  padding-bottom: 0.5rem;
}

.lenke:active {
  background-color: @fokusFarge;
}

.nowrap {
  white-space: nowrap;
}
