@import (reference) "~nav-frontend-core/less/_variabler";

@desktop-max-width: @screen-lg-desktop;
@padding-y: 2rem;
@padding-x: @padding-y * 1.62;
@seksjon-spacing: 2rem;

body {
  background-color: @navLysGra;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pagecontent {
  width: 100%;
  max-width: @desktop-max-width;
  padding: 1rem 1rem 5rem 1rem;
  box-sizing: border-box;
}

.col-setup(@cols, @margins) {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(percentage(1 / (@cols + 1)) + 1px);
  max-width: calc(percentage(1 / @cols) - (@margins - @margins / @cols));

  &:not(:nth-child(@{cols}n)) {
    margin-right: @margins;
  }
}
